<mat-toolbar color="primary" class="animated fadeInDown">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
    <span class="h3 mb-0">Task Manager</span>
    <div>
      <button mat-icon-button (click)="onTaskListButtonClick()" class="btn btn-primary" title="list de tĉhes">
        <i class="material-icons icon-lg ">list</i>
      </button>
      <button mat-icon-button (click)="onAddTaskButtonClick()" class="btn btn-primary" title="Ajouter une tâche">
        <i class="material-icons icon-lg ">add</i>
      </button>
      <button mat-icon-button (click)="onUserProfileButtonClick()" class="btn btn-primary" title="Profile">
        <i class="material-icons icon-lg ">person</i>
      </button>
      <button mat-icon-button (click)="logout()" class="btn btn-danger" title="Deconnecter">
        <i class="material-icons icon-lg ">logout</i>
      </button>
    </div>
  </div>
</mat-toolbar>

<!-- display message *ifTask -->
<div class="container-fluid forChild my-3 mt-0 animated fadeInUp">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <footer>
    <ul>

    </ul>
  </footer>
</div>
