<mat-toolbar color="primary" class="d-flex justify-content-between">
  <span>Task Manager</span>
  <button mat-icon-button color="Warn" (click)="onTaskListButtonClick()" routerLink="/task_list" routerLinkActive="active">
    <mat-icon>list</mat-icon>
  </button>
  <!-- add task -->
  <button mat-icon-button color="Warn" (click)="onAddTaskButtonClick()" routerLink="/add_task" routerLinkActive="active">
    <mat-icon>add</mat-icon>
  </button>
  <!-- userprofile -->
  <button mat-icon-button color="Warn" (click)="onUserProfileButtonClick()" routerLink="/userprofile" routerLinkActive="active">
    <mat-icon>person</mat-icon>
  </button>

  <!-- logout -->
  <button mat-icon-button color="Warn" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<!-- display message *ifTask -->
<div *ngIf="onlyTask" class="alert alert-info">
  <h4>{{message}}</h4>
</div>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
