<h4 class="card-title mb-4">Sign Up</h4>
<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <mat-stepper orientation="horizontal" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>
        </ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input type="text" name="name" [(ngModel)]="user.name" matInput placeholder="Votre nom"
            formControlName="nameCtrl" required>
          <mat-error>{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Prenom</mat-label>
          <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="user.surname" matInput
            placeholder="Votre prenom" formControlName="surnameCtrl" required>
          <mat-error>{{getErrorMessageSurname()}}</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>
        </ng-template>
        <mat-form-field appearance="fill">
          <mat-label for="email">Email</mat-label>
          <input type="email" id="email" name="email" [(ngModel)]="user.email" matInput formControlName="emailCtrl"
            placeholder="Ex. exemple@gmail.com">
          <mat-error>{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Telephone</mat-label>
          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phone" matInput
            formControlName="phoneCtrl" placeholder="Ex. +225xxxxxxx" required>
          <mat-error>{{getErrorMessagePhone()}}</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Sécurité</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" matInput
            formControlName="passwordCtrl" placeholder="Ex. paswmo" required>
          <mat-error>
            {{getErrorMessagePassword()}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirmez le mot de passe</mat-label>
          <input type="password" class="form-control" id="passwordConf" name="passwordConf"
            matInput formControlName="confirmPasswordCtrl" placeholder="Ex. paswmo" required>
          <mat-error>
            {{getErrorMessageConfirmPassword()}}
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel></ng-template>
      <div>
        <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">Submit</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
      <div *ngIf="userForm.invalid" class="alert alert-danger mt-3" role="alert">
        Veuillez entrer des données valides
      </div>
    </mat-step>
  </mat-stepper>
</form>

<router-outlet></router-outlet>
